MONGODB_URI=""
DB_NAME=projectmate
NEXT_PUBLIC_FIREBASE_API_KEY =
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN =
NEXT_PUBLIC_FIREBASE_PROJECT_ID =
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET =
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = 
NEXT_PUBLIC_FIREBASE_APP_ID =

DEV_URL=http://localhost:3000
PROD_URL=https://project-mate.vercel.app

# staging
APP_STAGING=true

# AUTH CONFIG
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# OPTIONAL TO FILL IN DEVELOPMENT ENV
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=