@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
:root {
  --primary-color: #ec9e58;
  --dark-color: #000000b2;
  --secondary-color: #2854eecc;
  --dark-mode: #1c2128;
}
body {
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-secondary-color font-semibold border-b-[3px] border-b-secondary-color;
}
.hover-overlay {
  @apply bg-gray-500 rounded-full;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
